In [2]:
import pandas as pd

In [9]:
df  = pd.read_csv('iris.csv')
count = df['variety'].value_counts()
for i in count:
    print(i ,end=' ')

50 50 50

In [10]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
df_iv = df[df['petal.length']>1.5]
df_iv

     sepal.length  sepal.width  petal.length  petal.width    variety
5             5.4          3.9           1.7          0.4     Setosa
11            4.8          3.4           1.6          0.2     Setosa
18            5.7          3.8           1.7          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[113 rows x 5 columns]

In [35]:
df_flower_type_s = df.loc[df['variety'] == 'Setosa'].min(),df.loc[df['variety'] == 'Setosa'].max(),df.loc[df['variety'] == 'Setosa'].avg()
df_flower_type_Ve = df.loc[df['variety'] == 'Versicolor'].describe()
df_flower_type_Vi = df.loc[df['variety'] == 'Virginica'].describe()

AttributeError: 'DataFrame' object has no attribute 'avg'

In [34]:
print(df_flower_type_s)
print(df_flower_type_Ve)
print(df_flower_type_Vi)

       sepal.length  sepal.width  petal.length  petal.width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000
       sepal.length  sepal.width  petal.length  petal.width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000
       sepal.length  sepal.width  petal.length  petal.width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [29]:
df.head(90)

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.1          3.5           1.4          0.2      Setosa
1            4.9          3.0           1.4          0.2      Setosa
2            4.7          3.2           1.3          0.2      Setosa
3            4.6          3.1           1.5          0.2      Setosa
4            5.0          3.6           1.4          0.2      Setosa
..           ...          ...           ...          ...         ...
85           6.0          3.4           4.5          1.6  Versicolor
86           6.7          3.1           4.7          1.5  Versicolor
87           6.3          2.3           4.4          1.3  Versicolor
88           5.6          3.0           4.1          1.3  Versicolor
89           5.5          2.5           4.0          1.3  Versicolor

[90 rows x 5 columns]

In [44]:
a = df.groupby('variety').agg(['mean', 'median','max','min'])
a

           sepal.length                  sepal.width                   \
                   mean median  max  min        mean median  max  min
variety
Setosa            5.006    5.0  5.8  4.3       3.428    3.4  4.4  2.3
Versicolor        5.936    5.9  7.0  4.9       2.770    2.8  3.4  2.0
Virginica         6.588    6.5  7.9  4.9       2.974    3.0  3.8  2.2

           petal.length                  petal.width
                   mean median  max  min        mean median  max  min
variety
Setosa            1.462   1.50  1.9  1.0       0.246    0.2  0.6  0.1
Versicolor        4.260   4.35  5.1  3.0       1.326    1.3  1.8  1.0
Virginica         5.552   5.55  6.9  4.5       2.026    2.0  2.5  1.4

In [ ]:
for